:root {
    --color1:#2B8BB5;
    --color2:#50CBF2;
    --color3:#97DDF4;
}

.progress-input {
    --webkit-appearance: none;
}   

.circle-background {
    fill: none;
    stroke: #ddd;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.circle-progress {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.circular-text{
    font-size: 1rem;
    fill: #484848;
    font-weight: bold;
}

.mastery-text{
    font-size: 0.4rem;
    fill: #7B7B7B;

}